*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


body{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.esqueletoOF{
    width:550PX ;
    height:600PX ;
    background-color: rgb(255, 106,0);
    display: flex;
    align-items: end;
    justify-content: center;

    background-image: url("../img/esqueleto2.png");
}
.esqueletoOF.on{
    background-image: url("../img/esqueleto1.gif");
    
}

.esqueletoONOF{
    width: 100px;
    height:50px ;
    background-color: rgb(238, 60, 6);
    border-radius: 1vh;
    border: 0.2rem solid rgb(229, 135, 107);
    position: fixed;
    color: rgb(247, 242,240);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15px;
}